<!DOCTYPE html>
<html>

<head>
    <title>List Suppliers</title>
</head>

<body>
    <h1>List of Suppliers</h1>
    <table>
        <thead>
            <tr>
                <th>Supplier ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.email }}</td>
                <td>{{ supplier.phone }}</td>
                <td>{{ supplier.address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>