<!DOCTYPE html>
<html>

<head>
    <title>List Stock Movements</title>
</head>

<body>
    <h1>List of Stock Movements</h1>
    <table>
        <thead>
            <tr>
                <th>Movement ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Movement Type</th>
                <th>Movement Date</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for movement in stock_movements %}
            <tr>
                <td>{{ movement.id }}</td>
                <td>{{ movement.product.name }}</td>
                <td>{{ movement.quantity }}</td>
                <td>{{ movement.movement_type }}</td>
                <td>{{ movement.movement_date }}</td>
                <td>{{ movement.notes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>