<!DOCTYPE html>
<html>

<head>
    <title>List Products</title>
</head>

<body>
    <h1>List of Products</h1>
    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price</th>
                <th>Stock Quantity</th>
                <th>Supplier</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock_quantity }}</td>
                <td>{{ product.supplier.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>